:root {
  --accent: rgb(35,176,255);
  --accent-alpha-20: rgba(35,176,255,.2);
  --accent-alpha-70: rgba(35,176,255,.7);
  --background: whitesmoke;
  --color: #1D1E28;
  --border-color: rgba(255, 255, 255, .1);
}
